### From https://www.youtube.com/watch?v=VK6v9Ure8Lk

In [7]:
from pydataset import data
import modin.pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [11]:
# get data
titanic = data('titanic')
titanic.sample(5)

          class     age    sex survived
1268  3rd class   child    man       no
843   3rd class  adults    man       no
493   2nd class  adults    man       no
1197  3rd class  adults  women       no
1091  3rd class  adults  women      yes

In [13]:
# Feature Engineering using one hot encoding
titanic = pd.get_dummies(titanic, drop_first=True)
titanic.sample(5)

UserWarning: `get_dummies` on non-DataFrame defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.

      class_2nd class  class_3rd class  age_child  sex_women  survived_yes
1101                0                1          0          1             1
881                 0                1          0          0             0
873                 0                1          0          0             0
102                 0                0          0          0             0
566                 1                0          0          1             1

In [14]:
# Train test split
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1)
                                                    , titanic['survived_yes']
                                                   )

In [16]:
# Train model using training data
LogReg = LogisticRegression(solver='lbfgs')
LogReg.fit(X_train, y_train)

UserWarning: `DataFrame.SparseFrameAccessor` defaulting to pandas implementation.

LogisticRegression()

In [17]:
# Predict if a class-1 child-age girl survived 
LogReg.predict(np.array([[0,0,1,1]]))[0]

1

In [19]:
# Predicting of a class-3 adult-age male survived
LogReg.predict(np.array([[0,1,0,0]]))[0]

0

In [20]:
# Score for model
LogReg.score(X_test, y_test)

UserWarning: `DataFrame.SparseFrameAccessor` defaulting to pandas implementation.

0.7750759878419453

In [21]:
# Understnading the score
prediction = (LogReg.predict(X_test) > 0.5).astype(int)
np.sum(prediction == y_test) / len(y_test)

UserWarning: `DataFrame.SparseFrameAccessor` defaulting to pandas implementation.

0.7750759878419453